.huper {
    color:white
}

.main{
    background-color: #00adb5;
}

.cargo{
    background-color: #ffa299;
}

.taxi{
    background-color: #fcbf1e;
}


h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Bellota', cursive !important;
    color: black !important;
} 

.headerTitle {
    font-size: 100px !important;
}

  