
<!doctype html>
<html>
  <head>

    <!-- main css -->
    <link rel="stylesheet" type="text/css" href="main.css" />

    <!-- fontawesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- hover css -->
	<link rel="stylesheet" type="text/css" href="libs/Hover/css/hover.css" />
    
    <title>TLC</title>
  </head>
  <header>
    <nav style="position: fixed;width: 100%;top: 0; z-index: 99;" class="nv-fix navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">TLC</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <div class="navbar ml-auto" id="navbarNavDropdown">
				<ul class="navbar-nav w-100">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Грузоперевозки </a>
						<div class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="/cargo">Грузоперевозки</a>
							<a class="dropdown-item" href="/cargo#1">Преимущества</a>
							<a class="dropdown-item" href="/cargo#2">Список Услуг</a>
							<a class="dropdown-item" href="/cargo#3">Тарифы</a>
							<a class="dropdown-item" href="/cargo#4">Автопарк</a>
							<a class="dropdown-item" href="/cargo#5">Контакты</a>
						</div>
					</li>
				</ul>
			</div>
				<div class="navbar" id="navbarNavDropdown">
					<ul class="navbar-nav w-100">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Такси </a>
							<div class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="#page2">Такси</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		  </nav>
      </header>
  <body style="background-color: #303960;">


<div style="margin-top:130px;" class="section" id="section1">
    <div class="container ct-holder">
        <div class="row">

            <a href="/cargo">
                <div class="col hvr-grow">
                    <h4 class="card-text">Перевозка Грузов</h4>
                    <img class="card-image" src='assets/truckCard.jpg' />     
                </div>
            </a>

            <a href="/taxi">
                <div class="col hvr-grow"> 
                    <h4 class="card-text">Таксомоторные перевозки</h4>                    
                    <img class="card-image" src='assets/taxiPhoto.jpg' />          
                </div>
            </a>

        </div>
    </div>


    <!-- bootstrap cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  </body>
</html>